@charset "UTF-8";
@import "reset.css";
@import "content.css";

:root {
    --vh: calc(var(--vh, 1vh) * 1);
}

body.light {
    --background-color: 216, 203, 187; /* #d8cbbb */
    --text-color: 42, 50, 46; /* #2a322e */
    --link-color: 84, 63, 215; /* #543fd7 */
    --body-color: 215, 215, 215; /* #d7d7d7 */
    --tag-color: 81, 74, 59;
    /* #514a3b */
}

body.dark {
    --background-color: 42, 50, 46; /* #2a322e */
    --text-color: 253, 252, 244; /* #fdfcf4 */
    --link-color: 130, 143, 255; /* #828fff */
    --body-color: 168, 155, 138; /* #a89b8a */
    --tag-color: 181 130 21; /* #b58215 */
    /* --tag-color: 206 148 0;  */
    /* #ce9400 */
}

body {
    background-color: rgb(var(--body-color));
    color: rgb(var(--text-color));
}

/* Loading */
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.loading h1 {
    color: rgb(var(--text-color));
    font-size: 36px;
    line-height: 0.9;
    font-family: "Courgette", sans-serif;
    animation: fadeIn 0.2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* container */
.container {
    position: relative;
    margin: 3rem auto 2rem;
    padding: 1rem;
    max-width: 85%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100 - 6rem);
    border-radius: 0.5rem;
    box-shadow: 0 25px 50px -12px rgba(52, 38, 6, 0.543);
    transition: all 0.25s linear;
}

.container::after {
    content: "";
    position: absolute;
    opacity: 0.8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(var(--background-color));
    opacity: 1;
    /* Boxes */
    /* background-image: linear-gradient(
            rgba(222, 202, 176, 0.3) 0.7000000000000001px,
            transparent 0.7000000000000001px
        ),
        linear-gradient(
            to right,
            rgba(222, 202, 176, 0.3) 0.7000000000000001px,
            rgb(var(--background-color)) 0.7000000000000001px
        );
    background-size: 30px 30px; */

    /* radial */
    /* background-image: radial-gradient(#9b8f80 0.75px, transparent 0.75px),
        radial-gradient(#9b8f80 0.75px, rgb(var(--background-color)) 0.75px);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px; */
    border-radius: 0.5rem;
    z-index: -1;
}

.container > .inner {
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 1rem 0;
    border-bottom: 1px solid rgba(var(--text-color), 0.5);
}

.logo {
    width: calc(100% - 44px);
    z-index: 10;
}

.logo > h1 {
    display: inline-block;
    color: rgb(var(--text-color));
    font-size: 24px;
    line-height: 0.9;
    text-align: center;
    font-family: "Courgette", sans-serif;
}

.themeBtn {
    display: inline-block;
    z-index: 10;
}

.themeBtn button {
    position: relative;
    width: 44px;
    height: 48px;
    text-align: center;
}

.themeBtn button i {
    color: rgb(var(--text-color));
}

.themeBtn button .tooltip {
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    margin-left: 0px;
    padding: 6px;
    width: 160px;
    background-color: rgba(var(--text-color), 0.8);
    color: rgb(var(--background-color));
    border-radius: 3px;
    text-align: center;
    z-index: 1;
}

.themeBtn button:hover .tooltip {
    visibility: visible;
}

/* Nav */
#nav {
    position: absolute;
    top: 50%;
    left: 1rem;
    margin-top: -100px;
    z-index: 10;
}

#nav ul li a {
    position: relative;
    display: inline-block;
    padding: 12px 0;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    color: rgba(var(--text-color), 0.8);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    /* overflow: hidden; */
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

#nav ul li a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: -6px;
    right: calc(100% + 6px);
    /* top: 62%;
    background: #c0a380;
    height: 4px; */
    top: 50%;
    background: rgba(var(--text-color), 0.8);
    height: 1px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#nav ul li a:hover:before,
#nav ul li a:focus:before,
#nav ul li a:active:before {
    right: -6px;
}

#nav ul li a:hover {
    color: rgb(var(--text-color));
}

/* sns icons */
.snsIcons {
    position: absolute;
    top: 50%;
    right: -46px;
    margin-top: -180px;
    width: 46px;
    height: 140px;
    background-color: rgb(var(--tag-color));
    border-radius: 0 5px 5px 0;
    z-index: 10;
}

.snsIcons > .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
    width: 100%;
    height: 100%;
}

.snsIcons a {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    text-align: center;
}

.snsIcons ion-icon {
    font-size: 24px;
    color: #e8e8e8;
    height: 100%;
    align-items: center;
    transition: all 0.15s linear;
}

.snsIcons a:hover ion-icon {
    transform: scale(1.2);
}

/* bg circle */
.bg-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg-wrap span {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.bg-wrap .c1 {
    left: -10%;
    bottom: -20%;
    width: 600px;
    height: 600px;
    border: 1px solid rgba(247, 235, 222, 0.4);
}

.bg-wrap .c2 {
    top: -20%;
    right: -15%;
    width: 700px;
    height: 700px;
    border: 1px solid rgba(181, 122, 50, 0.3);
}

.bg-wrap .c3 {
    top: 30%;
    left: 25%;
    width: 1000px;
    height: 1000px;
    background: rgba(98, 66, 28, 0.05);
}

.bg-wrap .c4 {
    top: -40%;
    left: -10%;
    width: 800px;
    height: 800px;
    background: rgba(216, 203, 187, 0.02);
}

@media screen and (max-width: 1200px) {
}

/* Tablet */
@media screen and (max-width: 1024px) {
}

/* Mobile */
@media screen and (max-width: 768px) {
    /* container */
    .container {
        margin: 1rem auto 0.5rem;
        padding: 1rem;
        max-width: 96%;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100 - 2.5rem);
        overflow: hidden;
    }

    #nav {
        display: none;
    }
}
