@charset "UTF-8";

/* content */

.content {
    position: relative;
    margin-left: 140px;
    padding: 1rem 0;
    height: calc(var(--vh, 1vh) * 100 - 6rem - 100px);
    width: calc(100% - 140px);
    z-index: 10;
}

.content .content-title {
    /* font-family: "Inter", sans-serif; */
    font-family: "Courgette", sans-serif;
    /* font-family: "Vollkorn", serif; */
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home .txt-wrap {
    margin-top: -6rem;
    padding: 0 13rem;
    text-align: center;
    z-index: 10;
}

#home .txt-wrap h2 {
    font-size: 6rem;
    font-style: italic;
    font-family: "Vollkorn", serif;
    color: rgb(var(--text-color));
}

#home .txt-wrap p {
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;
    color: rgba(var(--text-color), 0.55);
}

#about {
}

#projects {
    width: 80%;
}

#projects .list {
    display: flex;
    flex-flow: row wrap;
    gap: 5%;
    justify-content: space-evenly;

    /* display: grid;
    grid-template-columns: repeat(4, 240px);
    grid-gap: 1rem; */
}

#projects .listItem {
    flex: 0 0 28%;
}

#projects .listItem > a {
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #000;
    /* box-shadow: 0 1.4px 1.7px rgba(0, 0, 0, 0.017),
        0 3.3px 4px rgba(0, 0, 0, 0.024), 0 6.3px 7.5px rgba(0, 0, 0, 0.03),
        0 11.2px 13.4px rgba(0, 0, 0, 0.036),
        0 20.9px 25.1px rgba(0, 0, 0, 0.043), 0 50px 60px rgba(0, 0, 0, 0.06); */
}

#projects .listItem > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #212121;
    z-index: 11;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

#projects .listItem > a:hover:before {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

#projects .listItem > a:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border: 1px solid #fff;
    z-index: 12;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
#projects .listItem > a:hover:after {
    width: 100px;
    height: 40px;
    opacity: 1;
}

#projects .list_img {
    position: relative;
    width: 100%;
    height: 160px;
    object-fit: cover;
    object-position: 0 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    z-index: 12;
}

#projects .listItem > a:hover .list_img {
    width: 110%;
    /* object-position: 0 0; */
    opacity: 0.5;
}

#projects .list_txt {
    position: absolute;
    top: 50%;
    width: 100%;
    transition: opacity 0.2s, transform 0.3s;
    text-align: center;
    transform: translatey(-50%);
    color: #fff;
    z-index: 12;
}

#projects .list_title {
    margin: 10px 0;
    color: rgb(var(--text-color));
}

/* Project detail page */
#projectDetail .backBtn {
    position: absolute;
    top: 15px;
    right: 0;
    width: 220px;
    height: 40px;
    background-color: rgb(var(--text-color));
    color: rgb(var(--background-color));
    border-radius: 20px;
    z-index: 30;
    transition: all 0.3s ease-in-out;
}

#projectDetail .backBtn:hover {
    width: 280px;
}

#SwiperWrap {
    position: relative;
    height: 100%;
}

#SwiperWrap .swiper {
    width: 100%;
    height: 500px;
}

#SwiperWrap .swiper-slide {
    text-align: center;
}

#SwiperWrap .swiper-slide .imgWrap {
    height: 100%;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */

    /*  */
    position: relative;
    perspective: 600px;
}

#SwiperWrap .swiper-slide img {
    /* flex: 2 1 0; */
    display: block;
    margin: 0 auto;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 10px;
    /*  */
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translate(15%, -50%) rotatey(10deg);
    width: 54%;
    height: 80%;
    /* transform: translate(15%, 10%) rotatey(10deg); */
}

#SwiperWrap .swiper-slide .txtWrap {
    position: absolute;
    top: 25%;
    left: 58%;
    padding-right: 1.5rem;
    /* flex: 1 1 0; */
    /* top: 50%; */
    /* transform: translate(0%, -70%); */
    text-shadow: 3px 4px 5px rgb(var(--background-color));
    text-align: left;
    z-index: 20;
}

/* body.dark #SwiperWrap .swiper-slide .txtWrap {
    background: rgba(var(--background-color), 0.8);
} */

#SwiperWrap .swiper-slide .txtWrap h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: rgb(var(--text-color));
}

#SwiperWrap .swiper-slide .txtWrap p {
    font-size: 1.4rem;
    color: rgba(var(--text-color), 0.7);
}

#SwiperWrap .swiper-slide .txtWrap span {
    display: inline-block;
    margin-top: 20px;
    padding: 4px 20px;
    background: rgba(var(--body-color), 0.6);
    border: 1px solid rgb(var(--text-color));
    border-radius: 20px;
    font-size: 0.8rem;
    line-height: 1;
}

#SwiperWrap .swiper-button-next:after,
#SwiperWrap .swiper-button-prev:after {
    color: rgba(var(--text-color), 0.8);
}
#SwiperWrap .swiper-button-prev:after {
    margin-right: -15px;
}

#SwiperWrap .swiper-pagination-bullet {
    background: rgba(var(--text-color), 0.7);
}

#SwiperWrap .swiper-pagination-bullet-active {
    position: relative;
    background: rgb(var(--text-color));
    /* opacity: 1; */
}

#SwiperWrap .swiper-pagination-bullet-active::after {
    position: absolute;
    top: -50%;
    left: -50%;
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid rgb(var(--text-color));
    border-radius: 50%;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 8px;
}

@media screen and (max-width: 1200px) {
}

/* Tablet */
@media screen and (max-width: 1024px) {
}

/* Mobile */
@media screen and (max-width: 768px) {
    .content {
        margin-left: 0;
        width: 100%;
        /* height: calc(var(--vh, 1vh) * 100 - 2.5rem - 80px); */
    }

    #SwiperWrap .swiper {
        width: 100%;
        height: auto;
    }
}

/* project list test */
#test_project_list {
    display: flex;
    flex-flow: row space-between;
}

#test_project_list .textBox {
    flex: 1 1 0;
}

#test_project_list .list {
    flex: 2 1 0;
}

#test_project_list .textBox span {
    display: inline-block;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

/* #test_project_list .textBox span:first-child {
    width: 250px;
    height: 250px;
    border-color: rgba(0, 0, 0, 0.5);
    background-color: rgba(var(--body-color), 1);
    line-height: 250px;
}

#test_project_list .textBox span:nth-child(2) {
    width: 250px;
    height: 250px;
    border-color: rgba(var(--body-color), 1);
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 250px;
} */

#test_project_list .listItem a {
    text-decoration: none;
    line-height: 1.1;
}

#test_project_list .listItem .num {
    color: rgba(212, 33, 96, 0.1);
    font-size: 3.8rem;
    font-weight: 900;
}

/*  */
#test_project_list .listItem .title {
    display: inline-block;
    margin-left: -20px;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    background-image: linear-gradient(
        to right,
        rgba(212, 33, 96, 1),
        rgba(212, 33, 96, 1) 50%,
        rgba(var(--text-color), 0.8) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    font-size: 1.6rem;
}

#test_project_list .listItem .title:before {
    content: "";
    background: rgba(212, 33, 96, 1);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

#test_project_list .listItem .title:hover {
    background-position: 0;
}

#test_project_list .listItem .title:hover::before {
    width: 100%;
}

/* Presentational Styles */
/* body {
    display: grid;
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    font-weight: 700;
    height: 100vh;
    place-items: center;
  } */

/* 
#test_project_list a {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

#test_project_list a:before,
#test_project_list a:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
}
#test_project_list a:before {
    background-color: #54b3d6;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
#test_project_list a:after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #54b3d6;
}

#test_project_list ahover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}
#test_project_list a:hover::after {
    transform: translate3d(0, 0, 0);
}

#test_project_list a span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

#test_project_list a:hover span {
    transform: translate3d(-200%, 0, 0);
}

#test_project_list a {
    text-decoration: none;
    color: #18272f;
    font-weight: 700;
    vertical-align: top;
} */
