@charset "UTF-8";

/* content */

.content {
    position: relative;
    margin-left: 140px;
    padding: 1rem 0;
    height: calc(var(--vh, 1vh) * 100 - 6rem - 100px);
    width: calc(100% - 140px);
    z-index: 10;
}

.content .content-title {
    font-family: "Vollkorn", serif;
}

.content .first-letter {
    font-size: 4rem;
    line-height: 1;
    font-weight: 600;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home .txt-wrap {
    margin-top: -6rem;
    padding: 0 13rem;
}

#home .txt-wrap h2 {
    position: relative;
    margin-bottom: 22px;
    color: rgb(var(--text-color));
    font-size: 5.5rem;
    /* font-style: italic; 
    font-family: "Vollkorn", serif; */
    font-family: "Playfair Display", serif;
}

#home .txt-wrap h2::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -22px;
    margin-left: -25%;
    width: 50%;
    height: 1px;
    background: rgba(var(--text-color), 0.5);
}

#home .txt-wrap p {
    font-size: 1.3rem;
    font-family: "Lora", serif;
    color: rgba(var(--text-color), 0.55);
}

#about {
}

#projects {
    width: 80%;
}

#projects .list {
    display: flex;
    flex-flow: row wrap;
    gap: 5%;
    justify-content: space-evenly;

    /* display: grid;
    grid-template-columns: repeat(4, 240px);
    grid-gap: 1rem; */
}

#projects .list-item {
    flex: 0 0 28%;
}

#projects .list-item > a {
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #000;
    /* box-shadow: 0 1.4px 1.7px rgba(0, 0, 0, 0.017),
        0 3.3px 4px rgba(0, 0, 0, 0.024), 0 6.3px 7.5px rgba(0, 0, 0, 0.03),
        0 11.2px 13.4px rgba(0, 0, 0, 0.036),
        0 20.9px 25.1px rgba(0, 0, 0, 0.043), 0 50px 60px rgba(0, 0, 0, 0.06); */
}

#projects .list-item > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #212121;
    z-index: 11;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

#projects .list-item > a:hover:before {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

#projects .list-item > a:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border: 1px solid #fff;
    z-index: 12;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
#projects .list-item > a:hover:after {
    width: 100px;
    height: 40px;
    opacity: 1;
}

#projects .list_img {
    position: relative;
    width: 100%;
    height: 160px;
    object-fit: cover;
    object-position: 0 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    z-index: 12;
}

#projects .list-item > a:hover .list_img {
    width: 110%;
    opacity: 0.5;
}

#projects .list_txt {
    position: absolute;
    top: 50%;
    width: 100%;
    transition: opacity 0.2s, transform 0.3s;
    text-align: center;
    transform: translatey(-50%);
    color: #fff;
    z-index: 12;
}

#projects .list_title {
    margin: 10px 0;
    color: rgb(var(--text-color));
}

/* Project detail page */
#projectDetail .backBtn {
    position: absolute;
    bottom: 15px;
    right: 0;
    padding: 5px 30px;
    /* transition: all 0.3s ease-in-out; */
    line-height: 1.6;
    z-index: 30;
}

#projectDetail .backBtn button {
    position: relative;
    display: inline-block;
    padding: 6px 30px;
    width: 100%;
    height: 100%;
    color: rgb(var(--background-color));
    background: transparent;
    border: 1px solid rgb(var(--text-color));
    transition: 0.2s 0.1s;
}

#projectDetail .backBtn button::before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgb(var(--text-color));
    transition: 0.3s ease-out;
    content: "";
    z-index: -1;
}

#projectDetail .backBtn button:hover {
    color: rgb(var(--text-color));
}

#projectDetail .backBtn button:hover::before {
    width: 0%;
}

#projectDetail .backBtn i {
    vertical-align: middle;
}

#SwiperWrap {
    position: relative;
    height: 100%;
}

#SwiperWrap .swiper {
    width: 100%;
    height: 500px;
}

#SwiperWrap .swiper-slide {
    padding-top: 10px;
}

#SwiperWrap .swiper-slide .slide-item {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* image traslate */
    /* position: relative;
    perspective: 600px; */
}

#SwiperWrap .swiper-slide .img-wrap {
    flex: 3 1 0;
    display: block;
    margin-right: 26px;
    padding: 12px;
    width: 100%;
    height: 380px;
    border: 1px solid rgba(var(--text-color), 0.5);
    /* margin: 0 auto; */

    /* image traslate */

    /* position: absolute;
    left: 1%;
    top: 50%;
    transform: translate(15%, -50%) rotatey(10deg);
    width: 54%;
    height: 80%; */
}

#SwiperWrap .swiper-slide .img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

#SwiperWrap .swiper-slide .txt-wrap {
    /* position: absolute;
    top: 25%;
    left: 58%;
    padding-right: 1.5rem; */
    flex: 2 1 0;
    position: relative;
    padding-left: 26px;
    text-align: left;
    z-index: 20;
}

#SwiperWrap .swiper-slide .txt-wrap::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 1px;
    height: 80%;
    background: rgba(var(--text-color), 0.5);
}

#SwiperWrap .swiper-slide .txt-wrap h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: rgb(var(--text-color));
    font-family: "Playfair Display", serif;
    font-weight: 600;
}

#SwiperWrap .swiper-slide .txt-wrap p {
    font-size: 1.4rem;
    color: rgba(var(--text-color), 0.7);
    font-family: "Lora", serif;
}

#SwiperWrap .swiper-slide .txt-wrap span {
    display: inline-block;
    margin-top: 20px;
    padding: 4px 20px;
    background: rgba(var(--body-color), 0.6);
    border: 1px solid rgb(var(--text-color));
    font-size: 0.8rem;
    line-height: 1;
}

#SwiperWrap .swiper-button-next,
#SwiperWrap .swiper-button-prev {
    top: auto;
    bottom: 1px;
    z-index: 30;
}

#SwiperWrap .swiper-button-prev {
    left: 50%;
    right: auto;
    margin-left: -120px;
}

#SwiperWrap .swiper-button-next {
    left: auto;
    right: 50%;
    margin-right: -120px;
}

#SwiperWrap .swiper-button-next:after,
#SwiperWrap .swiper-button-prev:after {
    font-size: 16px;
    font-weight: 600;
    color: rgba(var(--text-color), 0.8);
}

#SwiperWrap .swiper-pagination-bullet {
    background: rgba(var(--text-color), 0.7);
}

#SwiperWrap .swiper-pagination-bullet-active {
    position: relative;
    background: rgb(var(--text-color));
    /* opacity: 1; */
}

#SwiperWrap .swiper-pagination-bullet-active::after {
    position: absolute;
    top: -50%;
    left: -50%;
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid rgb(var(--text-color));
    border-radius: 50%;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 8px;
}

#contact .inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

#contact .text-wrap {
    flex: 1 1 0;
    margin-right: 26px;
}

#contact .top-txt {
    margin-bottom: 14px;
    color: rgb(var(--text-color));
    font-size: 3rem;
    font-family: "Playfair Display", serif;
}

#contact .content-txt {
    color: rgba(var(--text-color), 0.7);
    font-size: 1rem;
    font-family: "Lora", serif;
}

#contact ul {
    flex: 2 1 0;
    position: relative;
    padding: 0 16px 0 30px;
    text-align: left;
}

#contact ul::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: rgba(var(--text-color), 0.5);
}

#contact ul li:first-child {
    padding-top: 0;
}

#contact ul li {
    padding: 30px 0;
    border-bottom: 1px solid rgba(var(--text-color), 0.5);
}

#contact ul li p {
    display: block;
    color: rgba(var(--text-color), 0.5);
    font-size: 1rem;
    font-family: "Inter", sans-serif;
}

#contact ul li a {
    display: block;
    padding: 4px 0;
    color: rgba(var(--text-color), 0.7);
    font-size: 1.3rem;
    text-decoration: none;
    font-family: "Lora", serif;
    letter-spacing: 3px;
}

#contact ul li a i {
    color: rgba(var(--text-color), 0.5);
    vertical-align: middle;
    transition: all 0.3s ease-in-out;
}

#contact ul li a:hover {
    color: rgb(var(--accent-color));
}

#contact ul li a:hover i {
    color: rgb(var(--accent-color));
    transform: translate(0, -5px);
}

@media screen and (max-width: 1200px) {
}

/* Tablet */
@media screen and (max-width: 1024px) {
}

/* Mobile */
@media screen and (max-width: 768px) {
    .content {
        margin-left: 0;
        width: 100%;
        /* height: calc(var(--vh, 1vh) * 100 - 2.5rem - 80px); */
    }

    #SwiperWrap .swiper {
        width: 100%;
        height: auto;
    }
}

/* project list test */
#test_project_list .list-wrap {
    display: flex;
    flex-direction: row;
}

#test_project_list .list-wrap .left {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

#test_project_list .list-wrap .right {
    flex: 2 1 0;
}

#test_project_list .left p {
    display: block;
    font-size: 2.5rem;
    font-family: "Playfair Display", serif;
    line-height: 1.3;
    text-align: center;
}

#test_project_list .left p::before,
#test_project_list .left p::after {
    content: "";
    display: block;
    margin: 41px auto;
    width: 100px;
    height: 1px;
    background: rgba(var(--text-color), 0.5);
}

#test_project_list .list-item a {
    text-decoration: none;
    line-height: 1.1;
}

#test_project_list .list-item .num {
    color: rgba(195, 173, 195, 0.2);
    font-size: 3.8rem;
    font-weight: 900;
}
#test_project_list .list-item .title {
    margin-left: -20px;
    padding: 5px 0;
    color: rgba(var(--text-color), 0.8);
    font-family: "Lora", serif;
    font-size: 1.6rem;
}

#test_project_list .list-item .title i {
    vertical-align: middle;
    color: rgba(var(--text-color), 0.5);
    transition: all 0.3s ease-in-out;
}

#test_project_list .list-item .title:hover {
    color: rgb(var(--accent-color));
}

#test_project_list .list-item .title:hover i {
    color: rgb(var(--accent-color));
    transform: translate(0, -5px);
}

/* hover effect */
/* #test_project_list .list-item .title {
    display: inline-block;
    margin-left: -20px;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    background-image: linear-gradient(
        to right,
        rgb(143, 94, 143),
        rgb(143, 94, 143) 50%,
        rgba(var(--text-color), 0.8) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    font-family: "Lora", serif;
    font-weight: 600;
    font-size: 1.6rem;
}

#test_project_list .list-item .title:before {
    content: "";
    background: rgb(143, 94, 143);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

#test_project_list .list-item .title:hover {
    background-position: 0;
}

#test_project_list .list-item .title:hover::before {
    width: 100%;
} */
